[submodule "lua53/lua"]
	path = lua53/lua
	url = https://github.com/lua/lua.git
[submodule "lvgl/lvgl"]
	path = lvgl/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "examples/lora/RadioLib"]
	path = wip/lora/RadioLib
	url = https://github.com/jgromes/RadioLib.git
[submodule "libopenthread/openthread"]
	path = libopenthread/openthread
	url = https://github.com/openthread/openthread.git
[submodule "examples/apollo3-ble-uart/AmbiqSuiteSDK"]
	path = examples/apollo3-ble-uart/AmbiqSuiteSDK
	url = https://github.com/alistair23/AmbiqSuiteSDK.git
